server:
  port: 8822

spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: gw-promotion
mybatis:
  mapper-locations:
    - classpath:mapper/*.xml
    - classpath:dao/*.xml
  cloud:
#    discovery:  #discovery配置，设置流量染色的元数据
#      metadata:
#        group: discovery-group
#        version: 1.0
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848

rocketmq:
  name-server: 127.0.0.1:9876 #连接超时时间
  gwmall:
    couponConsumerGroup: coupon-give-away-consumer-group #事务消息群组
    transCouponTopic: trans-coupon-topic #

secKillServerList:
  http://127.0.0.1
seckill:
  templateDir: /seckill/template/ftl
  templateName: product.ftl
  htmlDir: /seckill/template/html
  serverList:
    127.0.0.1
  sftp:
    port: 22
    userName: guanwu
    password: wu123
    rootPath: /usr/local/openresty/tpl



