server:
  port: 8888

spring:
  application:
    name: gw-gateway
    strategy:   #discovery配置
      gateway:
        dynamic:
          route:
            enabled: true  # 开启网关订阅配置中心的动态路由策略,默认为false
  cloud:
    nacos:  #配置nacos注册中心地址
      discovery:
        server-addr: 127.0.0.1:8848  #注册中心地址
#        namespace: 6cd8d896-4d19-4e33-9840-26e4bee9a618  #环境隔离

#    discovery:  #discovery配置，设置流量染色的元数据
#      metadata:
#        group: discovery-group  #组名必须配置

    gateway:
      routes:
        - id: gw-authcenter
          uri: lb://gw-authcenter
          predicates:
            - Path=/oauth/**
        - id: gw-member
          uri: lb://gw-member
          predicates:
            - Path=/sso/**,/member/**
        - id: gw-order-current
          uri: lb://gw-order-current
          predicates:
            - Path=/order/**
        - id: gw-cart
          uri: lb://gw-cart
          predicates:
            - Path=/cart/**
        - id: gw-product
          uri: lb://gw-product
          predicates:
            - Path=/pms/**
        - id: gw-promotion
          uri: lb://gw-promotion
          predicates:
            - Path=/coupon/**
        - id: gw-portal
          uri: lb://gw-portal
          predicates:
            - Path=/home/**,/portal/**

    sentinel:
      transport:
        dashboard: 127.0.0.1:8080

logging:
  level:
    org.springframework.cloud.gateway: info

gw:
  gateway:
    shouldSkipUrls:
      - /oauth/**
      - /sso/**
      - /home/**
      - /portal/commentlist/**
      - /order/paySuccess/**
      - /pms/**
      - /static/qrcode/**